html {
  border: 5px solid green;
}

.bg-theme {
  background: #0d2538;
  color: #ffffff;
}

main {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#card {
  background-color: #0f2d44;
  color: #ffffff;
}

article {
  transition: transform 0.2s; /* Animation */
}
article:hover {
  transform: scale(0.9);
}

.author__img {
  vertical-align: middle;
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.author__img:hover {
  webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
